<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<import resource="spring/applicationContext-1-MVC.xml" />

	<import resource="spring/applicationContext-2-Ehcache.xml" />

	<import resource="spring/applicationContext-3-Hibernate.xml" />

	<import resource="spring/applicationContext-4-Portal.xml" />
	
	<!--import resource="spring/applicationContext-Webwares.xml" /-->
	
	<import resource="spring/applicationContext-5-Plugins.xml" />	
	
	<!-- import resource="spring/applicationContext-SecurityService.xml" />	
	
	<import resource="spring/applicationContext-SecurityProviders.xml" />	
	
	<import resource="spring/applicationContext-SecurityAcl.xml" /-->	

	<import resource="spring/applicationContext-6-Shiro.xml" />

	<import resource="spring/applicationContext-7-Application.xml" />	

</beans>