<?xml version="1.0" encoding="UTF-8"?>
<module>
	<title>任务管理</title>
	<desc>好友间任务互助软件</desc>
	<menus>
		<menu>
			<index>1</index>
			<name>appsgrid</name>
			<title>应用管理</title>
			<widget>appsgridpanel</widget>
			<controller>JXP.apps.admin.controller.Apps</controller>
		</menu>
	</menus>
	<portlets>
		<portlet>
			<name>TaskNaviPortlet</name>
			<title>任务管理导航</title>
			<width>1000</width>
			<height>100</height>
			<jsSource>navi/Portlet.js</jsSource>
			<jsClass>JXP.task.frontend.view.navi.Portlet</jsClass>
			<jsWidget>tasknaviportlet</jsWidget>
			<jsController>JXP.task.frontend.controller.Navi</jsController>
			<roles>member</roles>
		</portlet>
		<portlet>
			<name>TaskDashboradPortlet</name>
			<title>任务状态</title>
			<width>1000</width>
			<height>400</height>
			<jsSource>dashboard/Portlet.js</jsSource>
			<jsClass>JXP.task.frontend.view.dashboard.Portlet</jsClass>
			<jsWidget>taskdashboardportlet</jsWidget>
			<jsController>JXP.task.frontend.controller.Dashboard</jsController>
			<roles>member</roles>
		</portlet>
		<portlet>
			<name>TaskMyPortlet</name>
			<title>我的任务</title>
			<width>1000</width>
			<height>500</height>
			<jsSource>my/Portlet.js</jsSource>
			<jsClass>JXP.task.frontend.view.my.Portlet</jsClass>
			<jsWidget>taskmyportlet</jsWidget>
			<jsController>JXP.task.frontend.controller.My</jsController>
			<roles>member</roles>
		</portlet>
		<portlet>
			<name>TaskMyDraftPortlet</name>
			<title>草稿任务</title>
			<width>1000</width>
			<height>500</height>
			<jsSource>my/draft/Portlet.js</jsSource>
			<jsClass>JXP.task.frontend.view.my.draft.Portlet</jsClass>
			<jsWidget>taskmydraftportlet</jsWidget>
			<jsController>JXP.task.frontend.controller.My</jsController>
			<roles>member</roles>
		</portlet>
		<portlet>
			<name>TaskMyDoingPortlet</name>
			<title>进行中任务</title>
			<width>1000</width>
			<height>500</height>
			<jsSource>my/doing/Portlet.js</jsSource>
			<jsClass>JXP.task.frontend.view.my.doing.Portlet</jsClass>
			<jsWidget>taskmydoingportlet</jsWidget>
			<jsController>JXP.task.frontend.controller.My</jsController>
			<roles>member</roles>
		</portlet>
		<portlet>
			<name>TaskCreatePortlet</name>
			<title>创建任务</title>
			<width>1000</width>
			<height>350</height>
			<jsSource>create/Portlet.js</jsSource>
			<jsClass>JXP.task.frontend.view.create.Portlet</jsClass>
			<jsWidget>taskcreateportlet</jsWidget>
			<jsController>JXP.task.frontend.controller.Create</jsController>
			<jsRequiredModule>social</jsRequiredModule>
			<roles>member</roles>
		</portlet>
		<portlet>
			<name>TaskCreateFilePortlet</name>
			<title>收取文件</title>
			<width>1000</width>
			<height>350</height>
			<jsSource>create/file/Portlet.js</jsSource>
			<jsClass>JXP.task.frontend.view.create.file.Portlet</jsClass>
			<jsWidget>taskcreatefileportlet</jsWidget>
			<jsController>JXP.task.frontend.controller.Create</jsController>
			<jsRequiredModule>social</jsRequiredModule>
			<roles>member</roles>
		</portlet>
		<portlet>
			<name>TaskExecutePortlet</name>
			<title>执行任务</title>
			<width>1000</width>
			<height>350</height>
			<jsSource>execute/Portlet.js</jsSource>
			<jsClass>JXP.task.frontend.view.execute.Portlet</jsClass>
			<jsWidget>taskexecuteportlet</jsWidget>
			<jsController>JXP.task.frontend.controller.Execute</jsController>
			<roles>member</roles>
		</portlet>
	</portlets>
	<pages>
		<page>
			<url>/task/index.jxp</url>
			<name>任务管理首页</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>92</height>
					<jsClass>JXP.task.frontend.view.navi.Portlet</jsClass>
				</portlet>
				<portlet>
					<width>1000</width>
					<height>400</height>
					<jsClass>JXP.task.frontend.view.dashboard.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>member</roles>
		</page>
		<page>
			<url>/task/my.jxp</url>
			<name>我的任务</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>92</height>
					<jsClass>JXP.task.frontend.view.navi.Portlet</jsClass>
				</portlet>
				<portlet>
					<width>1000</width>
					<height>500</height>
					<jsClass>JXP.task.frontend.view.my.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>member</roles>
		</page>
		<page>
			<url>/task/my.jxp?action=getDraft</url>
			<name>草稿任务</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>92</height>
					<jsClass>JXP.task.frontend.view.navi.Portlet</jsClass>
				</portlet>
				<portlet>
					<width>1000</width>
					<height>500</height>
					<jsClass>JXP.task.frontend.view.my.draft.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>member</roles>
		</page>
		<page>
			<url>/task/my.jxp?action=getDoing</url>
			<name>进行中任务</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>92</height>
					<jsClass>JXP.task.frontend.view.navi.Portlet</jsClass>
				</portlet>
				<portlet>
					<width>1000</width>
					<height>500</height>
					<jsClass>JXP.task.frontend.view.my.doing.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>member</roles>
		</page>
		<page>
			<url>/task/create.jxp</url>
			<name>创建任务</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>92</height>
					<jsClass>JXP.task.frontend.view.navi.Portlet</jsClass>
				</portlet>
				<portlet>
					<width>1000</width>
					<height>350</height>
					<jsClass>JXP.task.frontend.view.create.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>member</roles>
		</page>
		<page>
			<url>/task/create.jxp?feature=file</url>
			<name>收取文件</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>92</height>
					<jsClass>JXP.task.frontend.view.navi.Portlet</jsClass>
				</portlet>
				<portlet>
					<width>1000</width>
					<height>350</height>
					<jsClass>JXP.task.frontend.view.create.file.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>member</roles>
		</page>
		<page>
			<url>/task/execute.jxp?id=(*)</url>
			<name>执行任务</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>92</height>
					<jsClass>JXP.task.frontend.view.navi.Portlet</jsClass>
				</portlet>
				<portlet>
					<width>1000</width>
					<height>350</height>
					<jsClass>JXP.task.frontend.view.execute.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>member</roles>
		</page>
	</pages>
</module>