<?xml version="1.0" encoding="UTF-8"?>
<module>
	<title>系统管理</title>
	<desc>系统管理模块。</desc>
	<users>
		<user>
			<username>admin@lobosi.com</username>
			<password>admin</password>
			<role>member > admin</role>
		</user>
	</users>
	<menus>
		<menu>
			<index>1</index>
			<name>invitation</name>
			<title>邀请码</title>
			<widget>invitationpanel</widget>
			<controller>JXP.system.controller.Invitation</controller>
		</menu>
		<menu>
			<index>2</index>
			<name>systemuser</name>
			<title>用户管理</title>
			<widget>systemuserpanel</widget>
			<controller>JXP.system.controller.User</controller>
		</menu>
		<menu>
			<index>3</index>
			<name>systemrole</name>
			<title>角色管理</title>
			<widget>systemrolepanel</widget>
			<controller>JXP.system.controller.Role</controller>
		</menu>
		<menu>
			<index>4</index>
			<name>systempermission</name>
			<title>权限管理</title>
			<widget>systempermissionpanel</widget>
			<controller>JXP.system.controller.Permission</controller>
		</menu>
		<menu>
			<index>5</index>
			<name>systemmodule</name>
			<title>模块管理</title>
			<widget>systemmodulepanel</widget>
			<controller>JXP.system.controller.Module</controller>
		</menu>
		<menu>
			<index>6</index>
			<name>systempage</name>
			<title>页面管理</title>
			<widget>systempagepanel</widget>
			<controller>JXP.system.controller.Page</controller>
		</menu>
		<menu>
			<index>7</index>
			<name>systemportlet</name>
			<title>区块管理</title>
			<widget>systemportletpanel</widget>
			<controller>JXP.system.controller.Portlet</controller>
		</menu>
		<menu>
			<index>8</index>
			<name>systemconfig</name>
			<title>配置管理</title>
			<widget>systemconfigpanel</widget>
			<controller>JXP.system.controller.Config</controller>
		</menu>
	</menus>
	<portlets>
		<portlet>
			<name>IndexPortlet</name>
			<title>首页</title>
			<width>1000</width>
			<height>300</height>
			<jsSource>index/Portlet.js</jsSource>
			<jsClass>JXP.system.frontend.view.index.Portlet</jsClass>
			<jsWidget>indexportlet</jsWidget>
			<jsController>JXP.system.frontend.controller.Index</jsController>
			<roles>guest</roles>
		</portlet>
		<portlet>
			<name>SignUpPortlet</name>
			<title>注册</title>
			<width>1000</width>
			<height>270</height>
			<jsSource>signup/Portlet.js</jsSource>
			<jsClass>JXP.system.frontend.view.signup.Portlet</jsClass>
			<jsWidget>signupportlet</jsWidget>
			<jsController>JXP.system.frontend.controller.SignUp</jsController>
			<roles>guest</roles>
		</portlet>
		<portlet>
			<name>SignUpSuccessPortlet</name>
			<title>注册成功</title>
			<width>1000</width>
			<height>270</height>
			<jsSource>signup/SuccessPortlet.js</jsSource>
			<jsClass>JXP.system.frontend.view.signup.SuccessPortlet</jsClass>
			<jsWidget>signupsuccessportlet</jsWidget>
			<jsController>JXP.system.frontend.controller.SignUp</jsController>
			<roles>guest</roles>
		</portlet>
		<portlet>
			<name>SignInPortlet</name>
			<title>登录</title>
			<width>1000</width>
			<height>270</height>
			<jsSource>signin/Portlet.js</jsSource>
			<jsClass>JXP.system.frontend.view.signin.Portlet</jsClass>
			<jsWidget>signinportlet</jsWidget>
			<jsController>JXP.system.frontend.controller.SignIn</jsController>
			<roles>guest</roles>
		</portlet>
		<portlet>
			<name>ReqInvitePortlet</name>
			<title>申请邀请码</title>
			<width>1000</width>
			<height>270</height>
			<jsSource>reqinvite/Portlet.js</jsSource>
			<jsClass>JXP.system.frontend.view.reqinvite.Portlet</jsClass>
			<jsWidget>reqinviteportlet</jsWidget>
			<jsController>JXP.system.frontend.controller.ReqInvite</jsController>
			<roles>guest</roles>
		</portlet>
		<portlet>
			<name>UnauthorizedPortlet</name>
			<title>权限不足</title>
			<width>1000</width>
			<height>300</height>
			<jsSource>unauthorized/Portlet.js</jsSource>
			<jsClass>JXP.system.frontend.view.unauthorized.Portlet</jsClass>
			<jsWidget>unauthorizedportlet</jsWidget>
			<jsController>JXP.system.frontend.controller.Unauthorized</jsController>
			<roles>guest</roles>
		</portlet>
		<portlet>
			<name>WeiboPortlet</name>
			<title>微博登录</title>
			<width>1000</width>
			<height>300</height>
			<jsSource>weibo/Portlet.js</jsSource>
			<jsClass>JXP.system.frontend.view.weibo.Portlet</jsClass>
			<jsWidget>weiboportlet</jsWidget>
			<jsController>JXP.system.frontend.controller.Weibo</jsController>
			<roles>guest</roles>
		</portlet>
	</portlets>
	<pages>
		<page>
			<url>/index.jxp</url>
			<name>首页</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>300</height>
					<jsClass>JXP.system.frontend.view.index.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>guest</roles>
		</page>
		<page>
			<url>/signup.jxp</url>
			<name>注册</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>270</height>
					<jsClass>JXP.system.frontend.view.signup.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>guest</roles>
		</page>
		<page>
			<url>/signupsuccess.jxp</url>
			<name>注册成功</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>270</height>
					<jsClass>JXP.system.frontend.view.signup.SuccessPortlet</jsClass>
				</portlet>
			</portlets>
			<roles>guest</roles>
		</page>
		<page>
			<url>/signin.jxp</url>
			<name>登录</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>270</height>
					<jsClass>JXP.system.frontend.view.signin.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>guest</roles>
		</page>
		<page>
			<url>/reqinvite.jxp</url>
			<name>申请邀请码</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>270</height>
					<jsClass>JXP.system.frontend.view.reqinvite.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>guest</roles>
		</page>
		<page>
			<url>/unauthorized.jxp</url>
			<name>权限不足</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>300</height>
					<jsClass>JXP.system.frontend.view.unauthorized.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>guest</roles>
		</page>
		<page>
			<url>/weibo.jxp</url>
			<name>微博登录</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>300</height>
					<jsClass>JXP.system.frontend.view.weibo.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>guest</roles>
		</page>
	</pages>
</module>