<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<bean id="initPlugin" class="org.zengsource.portal.web.plugins.InitPlugin">
		<property name="moduleService">
			<ref bean="moduleService"/>
		</property>
		<property name="pageService">
			<ref bean="pageService"/>
		</property>
		<property name="configService">
			<ref bean="configService"/>
		</property>
		<property name="cacheService">
			<ref bean="cacheService"/>
		</property>
	</bean>

	<bean id="pluginFactory" class="org.zengsource.mvc.plugin.SimplePluginFactory">
		<property name="pluginMap">
			<map>
				<entry key="initPlugin">
					<ref local="initPlugin" />
				</entry>
			</map>
		</property>
	</bean>

</beans>