<?xml version="1.0" encoding="UTF-8"?>
<module>
	<title>好友关系</title>
	<desc>社交好友关系</desc>
	<menus>
		<menu>
			<index>1</index>
			<name>socialconfig</name>
			<title>社交配置</title>
			<widget>socialconfigpanel</widget>
			<controller>JXP.social.admin.controller.Config</controller>
		</menu>
	</menus>
	<portlets>
		<portlet>
			<name>FriendPortlet</name>
			<title>我的好友</title>
			<width>1000</width>
			<height>600</height>
			<jsSource>friend/Portlet.js</jsSource>
			<jsClass>JXP.social.frontend.view.friend.Portlet</jsClass>
			<jsWidget>socialfriendportlet</jsWidget>
			<jsController>JXP.social.frontend.controller.Friend</jsController>
			<roles>member</roles>
		</portlet>
		<portlet>
			<name>RequestPortlet</name>
			<title>好友请求</title>
			<width>1000</width>
			<height>600</height>
			<jsSource>request/Portlet.js</jsSource>
			<jsClass>JXP.social.frontend.view.request.Portlet</jsClass>
			<jsWidget>socialrequestportlet</jsWidget>
			<jsController>JXP.social.frontend.controller.Request</jsController>
			<roles>member</roles>
		</portlet>
		<portlet>
			<name>FindPortlet</name>
			<title>查找好友</title>
			<width>1000</width>
			<height>600</height>
			<jsSource>find/Portlet.js</jsSource>
			<jsClass>JXP.social.frontend.view.find.Portlet</jsClass>
			<jsWidget>socialfindportlet</jsWidget>
			<jsController>JXP.social.frontend.controller.Find</jsController>
			<roles>member</roles>
		</portlet>
	</portlets>
	<pages>
		<page>
			<url>/social/friend.jxp</url>
			<name>我的好友</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>600</height>
					<jsClass>JXP.social.frontend.view.friend.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>member</roles>
		</page>
		<page>
			<url>/social/request.jxp</url>
			<name>好友请求</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>600</height>
					<jsClass>JXP.social.frontend.view.request.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>member</roles>
		</page>
		<page>
			<url>/social/find.jxp</url>
			<name>查找好友</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>600</height>
					<jsClass>JXP.social.frontend.view.find.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>member</roles>
		</page>
	</pages>
</module>