<?xml version="1.0" encoding="UTF-8"?>
<module>
	<title>会员帐号</title>
	<desc>个人帐号信息管理。</desc>
	<menus>
		<menu>
			<index>1</index>
			<name>userinfo</name>
			<title>用户信息</title>
			<widget>userinfopanel</widget>
			<controller>JXP.user.admin.controller.Info</controller>
		</menu>
	</menus>
	<portlets>
		<portlet>
			<name>UserInfoPortlet</name>
			<title>个人信息</title>
			<width>1000</width>
			<height>500</height>
			<jsSource>info/Portlet.js</jsSource>
			<jsClass>JXP.user.frontend.view.info.Portlet</jsClass>
			<jsWidget>userinfoportlet</jsWidget>
			<jsController>JXP.user.frontend.controller.Info</jsController>
			<roles>member</roles>
		</portlet>
		<portlet>
			<name>UserAvatarPortlet</name>
			<title>上传头像</title>
			<width>1000</width>
			<height>500</height>
			<jsSource>avatar/Portlet.js</jsSource>
			<jsClass>JXP.user.frontend.view.avatar.Portlet</jsClass>
			<jsWidget>useravatarportlet</jsWidget>
			<jsController>JXP.user.frontend.controller.Avatar</jsController>
			<roles>member</roles>
		</portlet>
		<portlet>
			<name>UserChangePswPortlet</name>
			<title>修改密码</title>
			<width>1000</width>
			<height>300</height>
			<jsSource>changepsw/Portlet.js</jsSource>
			<jsClass>JXP.user.frontend.view.changepsw.Portlet</jsClass>
			<jsWidget>userchangepswportlet</jsWidget>
			<jsController>JXP.user.frontend.controller.ChangePsw</jsController>
			<roles>member</roles>
		</portlet>
	</portlets>
	<pages>
		<page>
			<url>/user/index.jxp</url>
			<name>个人信息</name>
			<columns>1</columns>
			<height>700</height>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>500</height>
					<jsClass>JXP.user.frontend.view.info.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>member</roles>
		</page>
		<page>
			<url>/user/uploadavatar.jxp</url>
			<name>上传头像</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>500</height>
					<jsClass>JXP.user.frontend.view.avatar.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>member</roles>
		</page>
		<page>
			<url>/user/changepassword.jxp</url>
			<name>修改密码</name>
			<columns>1</columns>
			<portlets>
				<portlet>
					<width>1000</width>
					<height>300</height>
					<jsClass>JXP.user.frontend.view.changepsw.Portlet</jsClass>
				</portlet>
			</portlets>
			<roles>member</roles>
		</page>
	</pages>
</module>